.card {
    margin-right: 20px;
}
.frame {
    height: 300px;
    width: 300px;
    background: transparent no-repeat center;
    background-size: cover;
}

.col-md-6 {
    margin-left: 15px
}

@media (min-width: 576px)
.col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 100% !important; 
}